@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body {
    width: 100%;
    margin: 0;
    background: url("bg.png") no-repeat fixed center;
    background-size: cover;
}

/* Header */
.container-head {
    position: absolute;
    top: 25%;
    left: 30%;
    width: 30%;
    transform: translate(-50%,-50%);
    color: white;
}
/* GAT */
.container-gat {
    position: absolute;
    top: 45%;
    left: 30%;
    width: 30%;
    transform: translate(-50%,-50%);
    padding: 1rem;
    border-radius: 20px;
    background-color: #222730;
    color: white;
}
.countdown, .countdown2{
    display: flex;
    text-align: center;
}
.time, .time2 {
    width: 100%
}
#number {
    font-size: 2rem;
}
.title, .title2 {
    font-family: 'Prompt', sans-serif;
}

/* 9สามัญ */
.container-saman {
    position: absolute;
    top: 65%;
    left: 30%;
    width: 30%;
    transform: translate(-50%,-50%);
    padding: 1rem;
    border-radius: 20px;
    background-color: #222730;
    color: white;
}

/* Footer */
footer {
    position: absolute;
    left: 30%;
    bottom: 10%;
    width: 25%;
    border-radius: 30px;
    background-color: white;
    color: black;
    text-align: center;
    transform: translate(-50%,-50%);
}
.contact {
    font-size: 18px;
}
.contact a {
    color: black;
    font-size: 30px;
}

@media only screen and (max-width: 768px) {
    body {
        width: 100%;
        margin: 0;
        background: url("bg.png") no-repeat fixed center;
    }
    .container-head {
        font-size: 12px;
        width: 90%;
        left: 53%;
    }
    .container-gat {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
    }
    .container-saman {
        position: absolute;
        top: 75%;
        left: 50%;
        width: 80%;
    }
    #number {
        font-size: 1.5rem;
    }
    footer {
        left: 50%;
        bottom: 0%;
        width: 90%;
    }
    .contact {
        font-size: 14px;
    }
    .contact a {
        font-size: 24px;
    }
}